{{- $primaryTag := "" -}}
{{- with .Params.tags -}}
    {{- $primaryTag = index . 0 -}}
{{- end -}}
{{- $style := partial "widgets/tag-style.html" $primaryTag -}}
{{- $summaryText := "" -}}
{{- with .Description -}}
    {{- $summaryText = . -}}
{{- else -}}
    {{- $summaryText = .Plain -}}
{{- end -}}

<a class="card-mini" href="{{ .Permalink }}" style="--card-from: {{ $style.from }}; --card-to: {{ $style.to }};">
    <div class="card-mini-cover">
        <i class="fa {{ $style.icon }}" aria-hidden="true"></i>
        {{ with $primaryTag }}<span class="card-mini-tag">#{{ . }}</span>{{ end }}
    </div>
    <div class="card-mini-body">
        <div class="card-mini-title">{{ .Title }}</div>
        <div class="card-mini-meta">
            <span><i class="fa fa-calendar"></i> {{ .PublishDate.Format "2006-01-02" }}</span>
            <span><i class="fa fa-clock-o"></i> {{ .ReadingTime }} {{ i18n "postInfo_minute" .ReadingTime }}</span>
        </div>
        <div class="card-mini-summary">{{ $summaryText | plainify | truncate 70 "…" }}</div>
    </div>
</a>
