{{- $primaryTag := "" -}}
{{- with .Params.tags -}}
    {{- $primaryTag = index . 0 -}}
{{- end -}}
{{- $primaryTagDisplayName := partial "widgets/tag-display-name.html" $primaryTag -}}
{{- $style := partial "widgets/tag-style.html" $primaryTag -}}
<a class="side-post" href="{{ .Permalink }}" style="--card-from: {{ $style.from }}; --card-to: {{ $style.to }};">
    <div class="side-post-icon">
        <i class="fa {{ $style.icon }}" aria-hidden="true"></i>
    </div>
    <div class="side-post-body">
        <div class="side-post-title">{{ .Title }}</div>
        <div class="side-post-meta">
            {{ with $primaryTag }}<span class="side-post-tag">#{{ $primaryTagDisplayName }}</span>{{ end }}
            <span class="side-post-date">{{ .PublishDate.Format "2006-01-02" }}</span>
        </div>
    </div>
</a>
